html, body {
  background: #f9f9f9;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(245,245,245,1) 100%); */
  background-attachment: fixed;
  background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	/* font-family: 'ExoMedium', 'Arial', sans-serif; */
	color: #aaa;
  display: inline-block;
	height: 100%;
	width: 100%;
	overflow: visible;
}


.fontawesome {
  font-family: "FontAwesome";
}

* { box-sizing: border-box }

table {
	margin: 0 auto;
	width: 98%;
	border-spacing: 1px;
	font-size: 11px;
}

th {
	color: #caa;
}

td, th {
	background-color: #444;
	padding: 6px;
}

th, td{
	text-align: left;
}

a.navbar-brand {
  padding-left: 52px !important;
  background: transparent url(../img/logo.png) no-repeat 6px center;
  background-size: contain;
  display: inline-block;
  min-height: 46px;
  min-width: 46px;
}

.navbar .navbar-nav>li>a {
  text-transform: uppercase;
  padding-top: 14px !important;
}

.navbar {
  padding: 6px;
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: 0;
  background: white;
  min-height: 10%;
}

.navbar .navbar-brand {
  margin: 0;
}
.container {
  margin: 0 2% !important;
  padding-top: 2em;
  max-width: 100% !important;
}

.port-select .alert {
  position: absolute;
  font-size: 22px;
  max-width: 100%;
  top: 1.5em;
}


.alert {
  -webkit-transition: opacity 0.25s, -webkit-transform 2s;
  transition: opacity 0.25s, -webkit-transform 2s;
  box-shadow: 1px 2px 9px black;
}

.alert.in {
  opacity: 1;
}

.connection-alert {
  margin-top: 4px;
  padding-top: 18px;
  opacity: 0;
}


.port-select {
  margin-right: 8px;
  margin-top: 4px;
  display: inline-block;
  min-width: 26em;
}

#send-hex {
  display: inline-block;
  background-color: #383838;
  border-radius: 5px;
  padding: 12px 26px;
  margin: 10px 0 10px 10px;
}

.bus {
  display: inline-block;
  background-color: #383838;
  border-radius: 5px;
  padding: 12px 26px;
  margin: 10px 0 10px 10px;
}

.bus .led {
  display: block;
  background-color: black;
  height: 16px;
  width: 16px;
  font-size: 10px;
  color: white;
  border-radius: 2px;
  margin: 0 4px 4px 0;
  vertical-align: middle;
  text-align: center;
}

.bus .led.on {
  background-color: red;
}


.log-filter-controls input[type="text"] {
  width: 6em;
}

.bevel-shadow {
  box-shadow: 0 1px 0 #CCC,
      				0 2px 0 #C9C9C9, 
      				0 3px 0 #BBB, 
      				0 4px 0 #B9B9B9, 
      				0 5px 0 #AAA, 
      				0 6px 1px rgba(0, 0, 0, .1), 
      				0 0 5px rgba(0, 0, 0, .1), 
      				0 1px 3px rgba(0, 0, 0, .3), 
      				0 3px 5px rgba(0, 0, 0, .2), 
      				0 5px 10px rgba(0, 0, 0, .25), 
      				0 10px 10px rgba(0, 0, 0, .2), 
      				0 20px 20px rgba(0, 0, 0, .15);
}


/* Settings */


.pids {
  margin: 22px -1% 0 -1%;
  width: 100%;
  -webkit-transition: 0.6s ease-out all;
}

.pid-object {
  border-radius: 4px;
  min-height: 3em;
  width: 23%;
  display: block;
  margin: 0 1% 2% 1%;
  padding: 0.8em;
  background: #f2f2f2;
  float: left;
}

/*
.pid-object:first-child,
.pid-object:nth-child(5),
.pid-object:nth-child(9),
.pid-object:nth-child(13){
  margin-left: 0;
}

.pid-object:last-child {
  margin-right: 0;
}
*/


.pids h3 {
  background-color: #aaa;
  color: white;
  margin-top: 0;
}

.pid-form {
  margin: 0 auto;
}

.pid-form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 3px;
  width: 78%;
}


.pid-form label, 
.pid-form input {
    display: inline-block;
    vertical-align: baseline;
}

.pid-form label {
    width: 20%;
    margin-right: 2%;
}

.pid-form form, 
.pid-form input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*
  Main section animation
*/

.main-container {
  position: relative;
  overflow: hidden;
  min-height: 90%;
  min-width: 100%;
}

.zoom-animation.ng-enter, .zoom-animation.ng-leave {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
}

.zoom-animation.ng-enter {
  z-index: 1000;
  max-height: 100%;
  -webkit-transition:0.6s ease-out all;
  -webkit-transform: scale(1.5);
  opacity:0;
}
.zoom-animation.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  opacity:1;
}

.zoom-animation.ng-leave {
  z-index: 900;
  -webkit-transition:0.6s ease-in all;
  -webkit-transform: scale(1);
  opacity:1;
}
.zoom-animation.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  opacity:0;
}


/*
*   Fade animation
*/

.fade-animation.ng-enter, .fade-animation.ng-leave {
  -webkit-transition:0.6s ease-out all;
}

.fade-animation.ng-enter {
  opacity:0;
}
.fade-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.fade-animation.ng-leave {
  opacity:1;
}
.fade-animation.ng-leave.ng-leave-active {
  opacity:0;
}







