<div class="container" id="logger">
  <h2>Packet Logging</h2>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-warning" ng-disabled="!portOpen" ng-class="{active:activeBusses[0]==true}" ng-click="toggleBus(0)">Bus 1</button>
      <button class="btn btn-warning" ng-disabled="!portOpen" ng-class="{active:activeBusses[1]==true}" ng-click="toggleBus(1)">Bus 2</button>
      <button class="btn btn-warning" ng-disabled="!portOpen" ng-class="{active:activeBusses[2]==true}" ng-click="toggleBus(2)">Bus 3</button>
    </div>
    
    <div class="btn-group input-group log-filter-controls">
      <button class="btn" ng-class="{active:logMode == 1, 'btn-success':logMode, 'btn-danger':logMode>1}" ng-disabled="!portOpen" ng-click="sendLogSettings()">{{ logMode > 0 ? "Log On" : "Log Off" }}</button>
      <input id="pid-filter" type="text" ng-disabled="!logMode" ng-model="logFilter" placeholder="PID" class="form-control"/>
    </div>

  </div>

  <table id="main-grid" logger>
    <thead>
      <tr id="header">
        <th>Channel</th>
        <th>Status</th>
        <th>Length</th>
        <th>Message ID</th>
        <th>Byte 0</th>
        <th>Byte 1</th>
        <th>Byte 2</th>
        <th>Byte 3</th>
        <th>Byte 4</th>
        <th>Byte 5</th>
        <th>Byte 6</th>
        <th>Byte 7</th>
        <th>String</th>
        <tbody></tbody>
      </tr>
    </thead>
  </table>
  
  <div class="bus-status clearfix">
  </div>
  
</div>